openapi: 3.2.0
info:
  title: Geidea Payment Gateway Tokenization API
  description: The Geidea Payment Gateway API lets merchants across the MENA region accept card and wallet payments.
  version: '1.0'
  contact:
    name: Geidea
    url: https://docs.geidea.net
  x-modeled-note: Endpoint paths and HTTP methods are confirmed from the Geidea API reference (docs.geidea.net). Request/response bodies are representative and modeled, not copied verbatim from an official OpenAPI file.
servers:
- url: https://api.ksamerchant.geidea.net
  description: Saudi Arabia (KSA) production
- url: https://api.merchant.geidea.net
  description: Egypt production
- url: https://api.geidea.ae
  description: UAE production
security:
- basicAuth: []
tags:
- name: Tokenization
  description: Retrieve stored instrument tokens for cards on file.
paths:
  /pgw/api/v1/direct/token/{tokenId}:
    get:
      operationId: retrieveToken
      tags:
      - Tokenization
      summary: Retrieve Token
      description: Retrieves a stored payment instrument (card on file) token by its id.
      parameters:
      - name: tokenId
        in: path
        required: true
        description: Token id of the stored instrument.
        schema:
          type: string
      responses:
        '200':
          description: The requested token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid credentials or signature.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        responseCode:
          type: string
        responseMessage:
          type: string
        detailedResponseCode:
          type: string
        detailedResponseMessage:
          type: string
    TokenResponse:
      type: object
      properties:
        responseCode:
          type: string
        token:
          type: object
          properties:
            tokenId:
              type: string
            cardScheme:
              type: string
            maskedCardNumber:
              type: string
            expiryDate:
              type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the merchant Public Key as the username and the API Password as the password. Requests additionally carry an HMAC `signature` field computed with the API Password as the secret key.
